.v-app-bar {
    max-height: 80px;
  }

.search-by-keyword {
  width: 40%;
}
  
.authentication {
  a {
    color: rgb(14, 13, 13);
    text-decoration: none;
  }
}
  
.spacer {
  flex-grow: 0.23 !important;
}
  
.v-sheet {
  box-shadow: none !important;
}
  
.v-banner__wrapper {
  margin-top: 10px;
  padding: 0 !important;
}
